@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --dark-grey: #40424a;
  --grey: #808181;
  --light-grey: #f9f9f9;
  --light-blue: #f2f7f8;
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-self: center;
  border: .5px solid red;
}

img {
  max-width: 100%;
  height: auto;
}

.introduction {
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue, lightblue);
}

.about-me {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.about-me .header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 14vw;
  color: var(--dark-grey, black);
  margin-bottom: 2vh;
}

.about-me .description {
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 6vw;
  line-height: 1.2;
  color: var(--grey, black);
}

.general-info {
  margin-bottom: 5vh;
}

.general-info .header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 9vw;
  color: var(--dark-grey, black);
  margin-bottom: 2vh;
}

.general-info .description {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 4vw;
  color: var(--dark-grey, black);
}

.photo {
  margin-bottom: 5vh;
}